

.cart_item {
  background-color: #f9fafb;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-right: 8px;
  padding-left: 2px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 10px;
  position: relative;
  justify-content: space-between;
}

.cart_img img {
  width: 250px;
  flex-shrink: 1;
  flex-grow: 1;
  cursor: pointer;
  transition: all 0.2s ease-in;
  object-fit: contain;
  margin-top: 8px;
}

.cart_img:hover {
  scale: 1.015;
}

.cart_item_contain {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 50%;
  margin-left: 10px;
}

h3 {
  display: flex;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 20px;
  margin-inline-end: 0px;
  margin-bottom: 4px;
  font-weight: bold;
  color: #302aaf;
}

h4 {
  display: flex;
  font-size: 1em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 20px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-top: 4px;
  color: #302aaf;
}
.card_price {
  font-family: "Noto Sans", sans-serif;
  display: block;
  margin-inline-start: 20px;
}

.new_price {
  color: rgb(22, 163, 74);
  font-size: 2rem;
  font-weight: 700;
}

.new_price::before {
  content: "₹";
}

.discount_percent {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0px 10px;
}

.orignal_price {
  color: rgb(164, 164, 164);
  font-style: italic;
  text-decoration: line-through;
  font-size: 1.8rem;
}

.cart_footer {
  display: flex;
  justify-content: last baselin;
  gap: 8px;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 20px;
  flex-direction: row;
}

.quantity-actions {
  margin-left: 20px;
  display: flex;
  gap: 6px;
  align-items: center;
}

.quantity-actions button {
  padding: 0 6px;
}

.cart_footer button {
  cursor: pointer;
  padding: 4px 12px;
  font-size: 16px;
  background-color: #302aaf;
  font-family: "IBM Plex Sans", sans-serif;
  color: white;
}
