.navbar {
    background-color: #302aaf;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 20px 15px 20px;
    position: sticky;
    top: 0px;
    z-index: 9999;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;
  }

  .logo-link {
    text-decoration: none;
    color: #e4e2ee;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    
  }

  .navbar-nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-item {
    margin-right: 25px;
  }
  .nav-item-pointer {
    cursor: pointer;
  }
  .input-container {
    align-self: center;
    padding: 0.5rem;
    width: 40vw;
    border-radius:20px ;
    background-color: white;
    display: flex;
    /* flex-direction: column; */
    margin-left: 50px;
  }
  .input-container input {
    outline: none;
    border: none;
    width: 100%;
    color :black;
    font-size: 15px;
  }

  .input-container .search-icon {
    margin-right: 1rem;
    font-size: 20px;
  
    
  }

  /* .css-i4bv87-MuiSvgIcon-root {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 2rem;
} */
  
  
  .link-text {
    color: #d9d5f0;
    text-decoration: none;
    margin-left: 5px;
    font-size: 1.8rem;
     font-family: Arial, Helvetica, sans-serif; 
  }