h1 {
  text-align: center;
}

.empty-cart {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.emptycartimg{
  width: 100%;
}

.empty-img{
  width: 550px;
  height: 500px;
  border-radius: 10px;
}


.link {
  text-align: center;
}

.cart_layout {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
}

.product_cart_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.price_layout {

}
