
h1{
    text-align: center;

}

.empty-cart{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.link{
  text-align: center;

}
.cart_layout{
  display: flex;
 flex-direction: row;
  grid-gap: 10rem;
  gap: 10rem;
  margin: 3rem 0;
  
}

.price_layout{
  display: grid;
  justify-self: end;
}