@media(min-width:1024px) {
    .product-detail-card{
        width: 50vw;
        flex-direction: row;
    }

}

.product-detail-card{
    box-shadow: 0 1px 10px 2px #3b1db0;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
    color: #302aaf;
    margin: 3rem auto;
    align-items: center;
  
  }
  . .product-detail-card .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }

  .product-detail-card .product-name {
    font-size: 20px;
  }
  .product-name{
    font-size: 1.25rem;
    font-weight: var(--semi-bold);
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
  }

  .product-detail-card .description {
    font-size: 20px;
  }

  .rating{
    font-size: 1.7rem;
    color: #45c045;
    font-weight: 500;
  }
  .price-container {
    display: flex;
    gap: 1rem;
    font-weight: bold;
    font-size: var(--p-mobile);
  }

  .original-price {
    color: #adaaaa;
    text-decoration: line-through;
  }

  .discount {
    color: #19ae19;
  }


  
   .singlePage_img img{
      width: 250px;
      height: 300px;
      flex-shrink: 1;
      flex-grow: 1;
      cursor: pointer;
      transition: all 0.2s ease-in;
      object-fit: contain;
      margin-top:8px; 
  }
  
  .singlePage_img:hover {
      scale: 1.015;
    }
  
 
  
  .singlePage_footer{
      display: flex;
      justify-content:last baselin;
      gap: 8px;
      margin-bottom: 8px;
      margin-top: 8px;
      flex-direction: row;
  }
  
  .singlePage_footer button{
    cursor: pointer;
    padding: 4px 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    background-color:#302aaf ;
    color:white;
  
  } 