.categories__card__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 1rem;
    
  }

  
.category__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  
  .category__img__container {
    position: relative;
    border: 2px solid #21165e;
    width: 100%;
    height: 100%;
    padding-bottom: 100%; 
    border-radius: 5px;
    object-fit: cover;
    
  }
  
  .category__img__container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

  h3{
    text-align: center;
  }
  
  @media screen and (min-width: 480px) {
    .categories__card__container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media screen and (min-width: 768px) {
    .categories__card__container {
      grid-template-columns: repeat(4, 1fr);
      padding: 2rem;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .categories__card__container {
      grid-template-columns: repeat(4, 1fr);
    }
  }