/* .wishlist-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
} */

h1{
    text-align: center;

}

.empty-wishlist{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.link{
  text-align: center;

}